<form [formGroup]="addItemForm" novalidate (ngSubmit)="onSubmit()">
  <!-- <mat-card class="shipping-card"> -->
  <mat-card-header>
    <mat-card-title>Add Items</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Item Name" formControlName="itemName">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Category" formControlName="category">
            <mat-option *ngFor="let category of itemCategory" [value]="category.abbreviation">
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addItemForm.controls['category'].hasError('required')">
            Category <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Measure Unit" formControlName="measureUnit">
            <mat-option *ngFor="let measureUnit of itemMeasureUnits" [value]="measureUnit.abbreviation">
              {{ measureUnit.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addItemForm.controls['measureUnit'].hasError('required')">
            Measure Unit <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Quantity" formControlName="quantity">
          <mat-error *ngIf="addItemForm.controls['quantity'].hasError('required')">
            Quantity is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      </div>
      <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Price" formControlName="price">
          <mat-error *ngIf="addItemForm.controls['price'].hasError('required')">
            Price is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Stock Available" formControlName="stockAvailable">
          <mat-error *ngIf="addItemForm.controls['stockAvailable'].hasError('required')">
            Stock Available <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
          <mat-error *ngIf="addItemForm.controls['description'].hasError('required')">
            Description <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    
    <!-- <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number"
            formControlName="postalCode">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <mat-radio-group formControlName="publish">
          <mat-radio-button value="publish">Publish</mat-radio-button>
          <mat-radio-button value="unpublish">Un-Publish</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card-actions>
  <!-- </mat-card> -->
</form>